// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  margin:20px;
}

.letters {
  display: flex;
  justify-content: space-around;

}

h1 {
  font-size: 40px;
}

.letter {
  background-color: #3398db;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
